@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500&family=Poppins:wght@300;400;500&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans";
}
:root {
  --backGround: #fff;
  --darkGray: #747171;
  --letterColor: #343333;
  --headerBackColor: #f2f2f2;
}
body {
  background-color: var(--backGround);
  min-width: 100%;
  font-family: "DM Sans";
}
.width{
    width: 50%;
}