.mainInformationPage{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 10px;
    margin-bottom: 250px;
}
.column{
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.secondPart{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.experience-education{
    width: 100%;
    display: flex;
    gap: 20px;
}