.widthi{
    width: 100%;
}
.userss{
    display: flex;
    gap: 10px;
}
.followDiv{
    width: 110px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #343333;
    border-radius: 30px;

}
.usersNam{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.names{
    color: #343333;
    font-family: "DM Sans";
    font-size: 16.653px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.prg{
    color: #343333;
    font-family: "DM Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.lastMore{
    margin-top: -35px;
}